
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* CSS code for navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left:50px;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-nav li {
  margin: 0;
}

.navbar-nav li a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.navbar-nav li a:hover {
  background-color: #eee;
}

.navbar-nav.ml-auto {
  margin-left: auto;
  padding-right:10px;
}

@media (max-width: 767px) {
  .navbar-nav.ml-auto {
    margin-left: 0;
  }
}

