{% extends 'base.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}
<div class="index_container">
        {% for post in post_form %}
    <article>
      <h2>{{ post.title }}</h2>
        <br>
      <p>{{ post.body }}</p>
      <div class="post-meta">
        <span class="author">{{ post.author }}</span>
        <span class="date">{{ post.date }}</span>
        <span class="category">{{ post.category }}</span>
      </div>
        <a href="{% url 'add_comment' post_id=post.id %}" class="btn btn-primary">Add Comment</a>
    </article>
        <br>
        {% if post %}
        <a href="{% url 'post_edit' post_id=post.id %}" class="btn btn-primary">Edit Post</a>
        <a href="{% url 'post_delete' post_id=post.id %}" class="btn btn-primary">Delete Post</a>
        {% endif %}
        <br><br>

  {% empty %}
    <p>No posts yet!</p>
  {% endfor %}
    </div>
{% endblock %}
