{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">

  <div class="login-form">
    <h2>Login</h2>
     <p style="text-align:center">To create a Blogs you need to login</p>
     {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger">{{ message }}</div>
        {% else %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Username:</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="id_password">Password:</label>
        <a href="{% url 'reset_password' %}" class="forgot-password">Forgot password?</a><br>
        {{ form.password }}
      </div>
      <button type="submit">Login</button>
    </form>
    <br>
    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a>.</p>
  </div>
  </div>
{% endblock %}
